body {
 display: block;
    margin-left: auto;
    margin-right: auto;
  
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
	border:12px solid #141414;
	display:inline-block;
	cursor:pointer;
	background-color:#141414;
	
	color:#288B08;
	font-family:Arial;
	font-size:28px;
	

}
code {
 
 font-family:Arial;
 
}

