body {
 display: block;
    margin-left: 110px;
    margin-top: 100px;
  
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
	border:12px solid #141414;
	display:inline-block;
	cursor:pointer;
	background-color:#141414;
	color:#288B08;
	font-family:Arial;
	font-size:28px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}
code {
 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color:#ff9b1f;
 
}

